.timer {
  font-size: 3rem;
  display: flex;
  align-items: center;

  span {
    font-size: 1rem;
    color: #e1501a;
    font-weight: 700;
  }

  i {
    font-size: 3rem;
    color: #fff;
    font-style: normal;
  }

  @media all and (max-width: 960px) {
    span {
      font-size: .9rem;
    }
    i {
      font-size: 2.5rem;
    }
  }

  @media all and (max-width: 800px) {
    span {
      font-size: .8rem;
    }
    i {
      font-size: 2rem;
    }
  }

  @media all and (max-width: 700px) {
    span {
      font-size: .8rem;
    }
    i {
      font-size: 1.5rem;
    }
  }
  @media all and (max-width: 600px) {
    span {
      font-size: .7rem;
    }
    i {
      font-size: 1.2rem;
    }
  }
  @media all and (max-width: 500px) {
    flex-direction: column;
    span {
      font-size: .7rem;
    }
    i {
      font-size: 1rem;
    }
  }
}
