.app {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  justify-content: center;

  header {
    display: flex;
    justify-content: center;

    svg {
      width: 600px;

      @media all and (max-width: 800px) {
        width: 300px;
      }

      text {
        stroke: #ec490a;
        font-size: 3rem;
        stroke-width: 1;

        tspan {
          fill: #e1501a;
          $count: 22;
          @for $i from 1 to $count {
            &:nth-child(#{$i}) {
              animation: animateText#{$i} 4s ease-in-out;
            }

            @keyframes animateText#{$i} {
              0% {
                stroke-dasharray: 0 50%;
                fill: transparent;
              }

              #{calc($i/$count)*50%} {
                stroke-dasharray: 0 50%;
              }
              #{calc($i/$count)*50+50%} {
                stroke-dasharray: 50% 0;
              }

              75% {
                fill: transparent;
              }

              100% {
                fill: #e1501a;
                stroke-dasharray: 50% 0;
              }
            }
          }
        }
      }
    }
  }
}

.filda {
  position: absolute;
  top: 200%;
  left: 200%;
  transform-origin: top left;

  &--animate {
    animation: filda 10s linear;
  }

  .filda-image {
    width: 455px;
    height: 911px;
    margin: -50%;
    background-size: contain;

    @media all and (max-width: 800px) {
      width: calc(455px/1.5);
      height: calc(911px/1.5);
    }

    @media all and (max-width: 600px) {
      width: calc(455px/2);
      height: calc(911px/2);
    }
  }
}

@keyframes filda {
  0% {
    top: 200%;
    left: 200%;
    transform: rotate(0deg);
  }
  10% {
    top: 50%;
    left: 95%;
    transform: rotate(-70deg);
  }
  20% {
    top: 48%;
    left: 96%;
    transform: rotate(-60deg);
  }
  25% {
    top: 50%;
    left: 200%;
    transform: rotate(0deg);
  }
  55% {
    top: 49%;
    left: 45%;
    transform: rotate(-5deg);
  }
  72% {
    top: 50%;
    left: 43%;
    transform: rotate(10deg) scaleX(1);
  }
  75% {
    top: 51%;
    left: 48%;
    transform: rotate(-5deg) scaleX(5);
  }
  78% {
    top: 49%;
    left: 51%;
    transform: rotate(5deg) scaleX(1);
  }
  90% {
    top: 40%;
    left: -100%;
    transform: rotate(-900deg);
  }
  100% {
    top: 200%;
    left: 200%;
  }
}

.countdown {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: countdownSlideDown 4s ease-in-out;
}

@keyframes countdownSlideDown {
  0% {
    transform: translateY(-.3rem);
    opacity: 0;
  }
  #{calc(4/5)*100%} {
    transform: translateY(-.3rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.hide{
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  height: 1px;
  opacity: .2;
}
