@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;500;700&display=swap');

html,body{
  margin: 0;
  padding: 0;
  height: 100vh;
  font-size: 18px;
  background-color: #111;
  font-family: 'JetBrains Mono', monospace;
  color: #fff;
  overflow: hidden;
}
